
<div style='border: 3px dashed cyan'>
  <img src='http://i2.cdn.turner.com/cnnnext/dam/assets/150324154010-04-internet-cats-restricted-exlarge-169.jpg'>
</div>


<h1>My name is <%=@name%>!</h1>

<% if @name == "" || @name == nil %>
<form action="/named-cat" method="post">
  <div>
    <input type="text" name="name"/>
    <input type="submit" value="Submit"/>
  </div>
</form>
<% end %>
